body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 1024px;
    /* Set your desired maximum width */
    margin: 0 auto;
    /* Center align the container */
    padding: 0 0;
    /* Optional padding */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav .logo {
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.hamburger {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.about,
.projects,
.skills,
.contact {
    padding: 2rem;
    text-align: center;
}

.about .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.project .technologies {
    margin-top: 1rem;
    text-align: left;
}

.project .technologies h4 {
    margin-bottom: 0.5rem;
}

.project p {
    text-align: left;
}

.project a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.project a:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.project .technologies ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.project .technologies ul li {
    background: #ddd;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.skill {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill h2 {
    margin-bottom: 1rem;
}

.skill ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skill ul li {
    padding: 0.2rem 0rem;
    border-radius: 4px;
}

.skill ul li[skill-weight="1"] {
    color: #00000033;
    font-size: 0.6rem;
    font-weight: 300;
}

.skill ul li[skill-weight="2"] {
    color: #00000066;
    font-size: 0.7rem;
    font-weight: 400;
}

.skill ul li[skill-weight="3"] {
    color: #00000099;
    font-size: 0.8rem;
    font-weight: 600;
}

.skill ul li[skill-weight="4"] {
    color: #000000CC;
    font-size: 0.9rem;
    font-weight: 600;
}

.skill ul li[skill-weight="5"] {
    color: #000000FF;
    font-size: 1rem;
    font-weight: 700;
}

.contact a {
    margin: 0.5rem;
    text-decoration: none;
}

.contact a img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 0;
        border-top: 1px solid #444;
    }

    nav ul li a {
        padding: 1rem;
        display: block;
        width: 100%;
        text-align: left;
    }

    .menu-toggle {
        display: block;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
}