:root {
    --md-sys-color-primary: rgb(0 0 0);
    --md-sys-color-surface-tint: rgb(94 94 94);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(38 38 38);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(34 34 34);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(67 67 67);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(0 0 0);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(38 38 38);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(78 0 2);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(140 0 9);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(249 249 249);
    --md-sys-color-on-background: rgb(27 27 27);
    --md-sys-color-surface: rgb(249 249 249);
    --md-sys-color-on-surface: rgb(0 0 0);
    --md-sys-color-surface-variant: rgb(235 224 225);
    --md-sys-color-on-surface-variant: rgb(40 34 36);
    --md-sys-color-outline: rgb(72 65 66);
    --md-sys-color-outline-variant: rgb(72 65 66);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(48 48 48);
    --md-sys-color-inverse-on-surface: rgb(255 255 255);
    --md-sys-color-inverse-primary: rgb(236 236 236);
    --md-sys-color-primary-fixed: rgb(67 67 67);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim: rgb(45 45 45);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-secondary-fixed: rgb(67 67 67);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim: rgb(45 45 45);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-tertiary-fixed: rgb(67 67 67);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim: rgb(45 45 45);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(218 218 218);
    --md-sys-color-surface-bright: rgb(249 249 249);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(243 243 243);
    --md-sys-color-surface-container: rgb(238 238 238);
    --md-sys-color-surface-container-high: rgb(232 232 232);
    --md-sys-color-surface-container-highest: rgb(226 226 226);
    --md-extended-color-custom-color1-color: rgb(56 0 71);
    --md-extended-color-custom-color1-on-color: rgb(255 255 255);
    --md-extended-color-custom-color1-color-container: rgb(101 24 121);
    --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);


}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--md-sys-color-surface);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0;
}

header {
    background-color: transparent;
    color: var(--md-sys-color-on-surface);
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 1rem;
    border-bottom: none;
}

nav ul li a {
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.hamburger {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--md-sys-color-on-surface);
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--md-sys-color-on-surface);
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.about,
.projects,
.skills,
.contact {
    padding: 2rem;
    text-align: center;
}

.about {
    padding: 2rem;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center; 
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content {
    flex: 1;
    text-align: left;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.project .technologies {
    margin-top: 1rem;
    text-align: left;
}

.project .technologies h4 {
    margin-bottom: 0.5rem;
}

.project {
    background-color: var(--md-sys-color-surface-container-low);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 1rem;
}

.project:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.project p {
    text-align: left;
}

.project a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    text-decoration: none;
    vertical-align: middle;
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
    border-radius: 2rem;
    transition: background-color 0.3s, transform 0.3s;
    line-height: 1;
}

.project a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 0.2rem;
}

.project a:hover {
    background-color: var(--md-extended-color-custom-color1-color);
    transform: translateY(-2px);
}

.project .technologies ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.project .technologies ul li {
    background: var(--md-sys-color-on-secondary-container);
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.skill {
    background-color: var(--md-sys-color-surface-container-low);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 1rem;
}

.skill:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.skill h2 {
    margin-bottom: 1rem;
}

.skill ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skill ul li {
    padding: 0.2rem 0rem;
    border-radius: 4px;
}

.skill ul li[skill-weight="1"] {
    color: #00000033;
    font-size: 0.6rem;
    font-weight: 300;
}

.skill ul li[skill-weight="2"] {
    color: #00000066;
    font-size: 0.7rem;
    font-weight: 400;
}

.skill ul li[skill-weight="3"] {
    color: #00000099;
    font-size: 0.8rem;
    font-weight: 600;
}

.skill ul li[skill-weight="4"] {
    color: #000000CC;
    font-size: 0.9rem;
    font-weight: 600;
}

.skill ul li[skill-weight="5"] {
    color: #000000FF;
    font-size: 1rem;
    font-weight: 700;
}

.contact a {
    margin: 0.5rem;
    text-decoration: none;
}

.contact a img {
    width: 30px;
    height: 30px;
}

footer {
    /* background-color: var(--md-sys-color-on-surface); */
    color: var(--md-sys-color-on-surface);
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li:not(:last-child) {
        border-bottom: 1px solid #00000020;
    }

    nav ul li a {
        padding: 1rem;
        display: block;
        width: 100%;
        text-align: left;
    }

    .nav-links {
        background-color: #fefefe;
        border-radius: 8px;
        border: 1px solid #00000020;
    }

    .menu-toggle {
        display: block;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .avatar {
        margin-bottom: 1rem;
        margin-right: 0; 
    }
}